<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="working_with_database_and_orm/practice/p1/layout :: head">
    <title>DetailCustomer</title>
</head>
<body>
<h3>View Customer</h3>
<p>
    <a th:href="@{/working_with_database_and_orm/practice/p1/customers}">
        Back to customer list
    </a>
</p>

<div id="detail">
    <div class="cus-detail">
        <label>Name: </label>
        <label th:text="${customer.name}"></label>
    </div>
    <div class="cus-detail">
        <label>Email: </label>
        <label th:text="${customer.email}"></label>
    </div>
    <div class="cus-detail">
        <label>Address: </label>
        <label th:text="${customer.address}"></label>
    </div>
</div>
</body>
</html>